<!doctype html>
<head>
        <link rel = "stylesheet" href = "style.css">
</head>

<body bgcolor="DBDBDB">


<table border=0 bgcolor="FFFFFF" width=100%>
<tr>

<td>
<a href="main.html">
<font face="century gothic" size="+2" color="25E43B">
Main
</font>
</a>
</td>

<td>
<a href="about.html">
<font face="century gothic" size="+2" color="25E43B">
About
</font>
</a>
</td>

<td>
<a href="form.html">
<font face="century gothic" size="+2" color="25E43B">
Form
</font>
</a>
</td>

</tr>
</table>

</body>
</html>