a:hover[href="index.html"]	{
    text-decoration: none;
    }
    
    .layer {
        padding: 20px; /* Поля вокруг текста */
       }
       a {
        color: #000000; /* Цвет обычной ссылки */ 
        text-decoration: none; /* Убираем подчеркивание у ссылок */
       }
       a:visited {
        color: #000000; /* Цвет посещённой ссылки */
       } 
       a:hover {
        color: #000000; /* Цвет ссылки при наведении на нее курсора мыши */  
        text-decoration: underline; /* Добавляем подчеркивание */
       }
    
    .root {
        padding: 5px; /* Поля вокруг текста */
       }
       a {
        color: #000000; /* Цвет обычной ссылки */ 
        text-decoration: none; /* Убираем подчеркивание у ссылок */
       }
       a:visited {
        color: #000000; /* Цвет посещённой ссылки */
       } 
       a:hover {
        color: #000000; /* Цвет ссылки при наведении на нее курсора мыши */  
        text-decoration: underline; /* Добавляем подчеркивание */
       }

        